.popup {
  box-sizing: border-box;
  position: relative;
  width: 800px;
  padding: 24px 60px;
  margin: 15px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 8px 0px #00000096;
  z-index: 9;
}
.popup__link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.popup--white,
.popup--white * {
  color: white;
}

.popup-wrapper {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(93, 93, 93, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;

  display: none;
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.33, 1, 0.68, 1);
}

.popup-wrapper--opened {
  opacity: 1;
}
.popup-wrapper--showed {
  display: flex;
}

.popup__bg,
.popup__bg>img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popup__btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  line-height: 1em;
  padding: 5px;
  background: transparent;
}
.popup__btn-close:hover {
  opacity: 0.75;
  color: currentColor;
  background: transparent;
}

.popup__inner {
  position: relative;
}

.popup__inner--centered {
  text-align: center;
}

.popup__title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin: 20px 0 10px;
}

.popup__actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0 0;
}

.popup__actions > * {
  margin: 5px;
}

@media (max-width: 560px) {
    .popup {
        padding: 24px 30px;
    }
    .popup__btn-close {
      top: 5px;
      right: 5px;
    }
}