.m5-tab__buttons{
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}
.m5-tab__button{
	display: inline-block;
	padding: 10px 17px;
	font-size: 15px;
	cursor: pointer;
	font-weight: bold;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.m5-tab__button:hover{
	background-color: #eee;
}
.m5-tab__button.active{
	background-color: #222222;
	color: #fff;
}

.m5-tab__text{
	background-color: #222222;
	color:  #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}

.m5-tab__text .mtb-30{
	margin: 0;
}

.m5-tab__text tr:nth-child(odd),
.m5-tab__text td:first-child{
	background-color: transparent;
	/* border-color: transparent; */
}
.m5-tab__text td,
.m5-tab__text td:first-child{
	border: none;
}
.m5-tab__text td:last-child{
	color: #a0a0a0;
	border-left: 1px solid #3B3B3B;
}
.m5-tab__text .k8_compare-tbl td{
	padding: 12px 15px;
}

.m5-tab__text table{
	-webkit-box-shadow: none;
	box-shadow: none;
}

.m5-tab__content{
	display: none;
}
.m5-tab__content.active{
	display: block;
}

.m5-tab__text tr:hover{
	background-color: #1d1d1d;
}


/* Router carousel */
.m5-rou__wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	/* margin: 0 0 20px; */
	margin: 20px 0 0px;
	-ms-align-items: center;
	align-items: center;
	box-shadow: 0 0 15px #ccc;
	/* background-color: #eeeeee6e; */
}
.m5-rou__carousel--wrapper-1{
	width: 80%;
}
.m5-rou__carousel--wrapper-2{
	width: 20%;
}

.m5-rou__item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	padding: 10px;
	cursor: pointer;
	/* max-height: 450px; */
}
.m5-rou__carousel-2 .slick-current .m5-rou__item{
	background: #3c9;
}
/*END Router carousel */

