*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.contt__control{
  margin-right: 20px;
  cursor: pointer;
  /* font-size: 14px; */
}
.contt__control input[type="radio"]{
  margin-right: 6px;
}
.contt__control-radio{
  padding: 5px 10px;
  background-color: #FFFF00;
  color: #333;
  letter-spacing: -0.6px;
  font-size: 14px;
}
button.contt__control{
  color: #fff;
  background-color: #00b2e2;
  border: none;
  padding: 8px 15px;
  font-size: 14px;
}

select {
  background-color: #eee;
  color: #222;
  height: 38px;
  padding: 0px 20px 0px 10px;
  width: 220px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}

.contt{
  max-width: 1200px;
  margin: 50px	auto;
}
.contt__filterz{
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}
.gridd{
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  flex-direction: row;
}
.gridd__wrr{
  /* max-width: 25%; */
  padding: 15px 10px;
  width: 100%;
}
.gridd__item{
  border-radius: 6px;
  display: flex;
  height: 100%;
  flex-direction: column;
  box-shadow: 0 0 10px #999;
}
.gridd__head{
  background-color: #33cccc;
  color: #fff;
  position: relative;
  border-radius: 6px 6px 0 0;
  padding: 15px;
  display: flex;
  align-items: flex-end;
}
.gridd__head-logo{
  margin-right: 15px;
  align-self: center;
  max-height: 100px;
  max-width: 100px;
}
.gridd__head-until{
  font-size: 13px;
  margin: 0;
}
.gridd__head-discount{
  position: absolute;
  width: 80px;
  height: 75px;
  background: url('./imgz/plash.png') no-repeat center;
  top: -10px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  padding-left: 13px;
  font-weight: 700;
}
.gridd__body{
  padding: 20px 15px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.gridd__body h3{
  margin: 0;
  color: #428bca;
}
.gridd__butts{
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.gridd__butt{
  padding: 7px;
  font-size: 11px;
  white-space: nowrap;
  text-decoration: none;
  max-width: 48%;
  width: 100%;
}
.gridd__butt-url{
  background-color: #33cc99;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gridd__butt-url:hover{
  background-color: rgba(51,204,153,0.72);
}
.gridd__butts i{
  margin-left: 5px;
}
.gridd__butt-code{
  border: 1px solid #33cc99;
  color: #33cc99;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gridd__butt-code span{
  display: inline-block;
  width: 85%;
  overflow: hidden;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
  .gridd__wrr{
    max-width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .gridd__wrr{
    max-width: 100%;
  }
}