.k8-ip__tbl table{
	table-layout: fixed;
}
.k8-ip__wrr{
	max-width: 850px;
	margin: 40px auto;
}
.k8-ip__wrr td:last-child,
.k8-ip__wrr th:last-child{
	text-align: right;
}

.k8-tooltip {
	position: relative;
	display: inline-block;
}

.k8-tooltip .k8-tooltiptext {
	visibility: hidden;
	width: 140px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -75px;
	opacity: 0;
	transition: opacity 0.3s;
}

.k8-tooltip .k8-tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.k8-tooltip:hover .k8-tooltiptext {
	visibility: visible;
	opacity: 1;
}

.k8-copy__url{
	font-size: 12px;
	letter-spacing: 0;
	text-transform: none;
  padding: 7px 15px;
}

.k8-ip__map img{
	height: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.k8-copy__inp{
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	color: #428bca;
	background-color: #fff;
	border: 1px solid #428bca;
	height: 40px;
	padding: 0 20px;
	margin-bottom: 5px;
}
.k8-ip__hidd{
	display: none;
}
.k8-ip__tbl svg{
	width: 40px;
	height: 40px;
}

.k8-ip__tbl--main{
	background-color: #428bca;
	color: #fff;
	font-size: 35px;
}





@media (max-width: 749px){
	.k8-ip__tbl--main{
		font-size: 24px;
	}
	.k8-ip__wrr td:last-child, .k8-ip__wrr th:last-child{
		text-align: left;
	}
}