/*Template VPN Security*/
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../fonts/roboto/Roboto-Regular.eot');
  src: url('../../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/roboto/Roboto-Regular.svg#Roboto-Regular') format('svg'),
       url('../../fonts/roboto/Roboto-Regular.ttf') format('truetype'),
       url('../../fonts/roboto/Roboto-Regular.woff') format('woff'),
       url('../../fonts/roboto/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Roboto-Medium';
  src: url('../../fonts/roboto/Roboto-Medium.eot');
  src: url('../../fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/roboto/Roboto-Medium.svg#Roboto-Medium') format('svg'),
       url('../../fonts/roboto/Roboto-Medium.ttf') format('truetype'),
       url('../../fonts/roboto/Roboto-Medium.woff') format('woff'),
       url('../../fonts/roboto/Roboto-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-LightItalic';
  src: url('../../fonts/roboto/Roboto-LightItalic.eot');
  src: url('../../fonts/roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/roboto/Roboto-LightItalic.svg#Roboto-LightItalic') format('svg'),
       url('../../fonts/roboto/Roboto-LightItalic.ttf') format('truetype'),
       url('../../fonts/roboto/Roboto-LightItalic.woff') format('woff'),
       url('../../fonts/roboto/Roboto-LightItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../../fonts/roboto/Roboto-Light.eot');
  src: url('../../fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/roboto/Roboto-Light.svg#Roboto-Light') format('svg'),
       url('../../fonts/roboto/Roboto-Light.ttf') format('truetype'),
       url('../../fonts/roboto/Roboto-Light.woff') format('woff'),
       url('../../fonts/roboto/Roboto-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../fonts/roboto/Roboto-Bold.eot');
  src: url('../../fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/roboto/Roboto-Bold.svg#Roboto-Bold') format('svg'),
       url('../../fonts/roboto/Roboto-Bold.ttf') format('truetype'),
       url('../../fonts/roboto/Roboto-Bold.woff') format('woff'),
       url('../../fonts/roboto/Roboto-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.k8-sec1,
.k8-sec2{
 	font-family: 'Roboto-Light';
 	font-size: 17px;
}

.k8-sec1 h2{
	text-align: center;
	font-size: 25px;
	background-color: #00B2E2;
	padding: 24px 10px;
	color: #fff;
	font-family: 'Roboto-Medium';
}

.k8-sec2{
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 70px;
	padding-bottom: 40px;
}


.k8-sec3{
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Roboto-Regular';
	font-size: 17px;
}

.k8-sec3 h3{
	color: #fff;
	font-size: 22px;
  font-family: 'Roboto-Bold';
}

.k8-sec3 em{
  font-family: 'Roboto-LightItalic';
}

.k8-sec3 h4{
  font-family: 'Roboto-Bold';
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
}

.k8-sec3 ul{
	margin-left: 20px;
}

.k8-sec3__blck{
	border-radius: 10px 10px 0 0;
	color: #fff;
}

.k8-sec3__lock{
	margin-left: auto;
	margin-right: auto;
	max-width: 202px;
	display: block;
}

.k8-sec3__pl{
	padding: 0px;
	background-color: #fff;
	border-radius: 10px;
	font-size: 0;
}

.k8-sec3__head-tbl{
	font-size: 0;
}

.k8-sec3__head-tbl .cell-1{
	width: 114px;
}
.k8-sec3__wrr{
	padding-left: 8px;
	padding-right: 8px;
}


.k8-sec3__it{
	font-size: 11px;
	padding: 10px;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #999;
	margin-bottom: 20px;
	background: #fff;
}

.k8-sec3__blck.blck-1,
.modd__txt.blck-1{
	background: rgba(51,204,153,1);
	background: -moz-linear-gradient(top, rgba(51,204,153,1) 0%, rgba(48,184,139,1) 64%, rgba(45,158,117,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(51,204,153,1)), color-stop(64%, rgba(48,184,139,1)), color-stop(100%, rgba(45,158,117,1)));
	background: -webkit-linear-gradient(top, rgba(51,204,153,1) 0%, rgba(48,184,139,1) 64%, rgba(45,158,117,1) 100%);
	background: -o-linear-gradient(top, rgba(51,204,153,1) 0%, rgba(48,184,139,1) 64%, rgba(45,158,117,1) 100%);
	background: -ms-linear-gradient(top, rgba(51,204,153,1) 0%, rgba(48,184,139,1) 64%, rgba(45,158,117,1) 100%);
	background: linear-gradient(to bottom, rgba(51,204,153,1) 0%, rgba(48,184,139,1) 64%, rgba(45,158,117,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33cc99', endColorstr='#2d9e75', GradientType=0 );
}

.k8-sec3__blck.blck-2,
.modd__txt.blck-2{
	background: rgba(51,204,204,1);
	background: -moz-linear-gradient(top, rgba(51,204,204,1) 0%, rgba(48,184,184,1) 64%, rgba(37,136,133,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(51,204,204,1)), color-stop(64%, rgba(48,184,184,1)), color-stop(100%, rgba(37,136,133,1)));
	background: -webkit-linear-gradient(top, rgba(51,204,204,1) 0%, rgba(48,184,184,1) 64%, rgba(37,136,133,1) 100%);
	background: -o-linear-gradient(top, rgba(51,204,204,1) 0%, rgba(48,184,184,1) 64%, rgba(37,136,133,1) 100%);
	background: -ms-linear-gradient(top, rgba(51,204,204,1) 0%, rgba(48,184,184,1) 64%, rgba(37,136,133,1) 100%);
	background: linear-gradient(to bottom, rgba(51,204,204,1) 0%, rgba(48,184,184,1) 64%, rgba(37,136,133,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33cccc', endColorstr='#258885', GradientType=0 );
}

.k8-sec3__blck.blck-3,
.modd__txt.blck-3{
	background: rgba(0,177,226,1);
	background: -moz-linear-gradient(top, rgba(0,177,226,1) 0%, rgba(1,156,195,1) 64%, rgba(2,120,146,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,177,226,1)), color-stop(64%, rgba(1,156,195,1)), color-stop(100%, rgba(2,120,146,1)));
	background: -webkit-linear-gradient(top, rgba(0,177,226,1) 0%, rgba(1,156,195,1) 64%, rgba(2,120,146,1) 100%);
	background: -o-linear-gradient(top, rgba(0,177,226,1) 0%, rgba(1,156,195,1) 64%, rgba(2,120,146,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,177,226,1) 0%, rgba(1,156,195,1) 64%, rgba(2,120,146,1) 100%);
	background: linear-gradient(to bottom, rgba(0,177,226,1) 0%, rgba(1,156,195,1) 64%, rgba(2,120,146,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b1e2', endColorstr='#027892', GradientType=0 );
}

.k8-sec3__blck.blck-4,
.modd__txt.blck-4{
	background: rgba(66,138,202,1);
	background: -moz-linear-gradient(top, rgba(66,138,202,1) 0%, rgba(45,122,170,1) 64%, rgba(30,98,132,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(66,138,202,1)), color-stop(64%, rgba(45,122,170,1)), color-stop(100%, rgba(30,98,132,1)));
	background: -webkit-linear-gradient(top, rgba(66,138,202,1) 0%, rgba(45,122,170,1) 64%, rgba(30,98,132,1) 100%);
	background: -o-linear-gradient(top, rgba(66,138,202,1) 0%, rgba(45,122,170,1) 64%, rgba(30,98,132,1) 100%);
	background: -ms-linear-gradient(top, rgba(66,138,202,1) 0%, rgba(45,122,170,1) 64%, rgba(30,98,132,1) 100%);
	background: linear-gradient(to bottom, rgba(66,138,202,1) 0%, rgba(45,122,170,1) 64%, rgba(30,98,132,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#428aca', endColorstr='#1e6284', GradientType=0 );
}

.k8-sec3__head{
	padding: 15px;
	border-bottom: 2px solid #fff;
}

.k8-sec3__txt{
	padding: 20px;
}

.k8-sec3__txt ul{
	font-size: 15px;
  font-family: 'Roboto-Light';
}

.k8-sec3__more{
	margin-bottom: 30px;
}
.k8-sec3__more:hover{
	background-color: #33CC99;
	color: #fff;
}

.k8-sec3__it-tbl .cell-1{
	width: 22%;
	padding-right: 10px;
}

.k8-sec3__it-tbl .cell-2{
	width: 28%;
	border-right: 1px solid #C2C2C2;
	padding-right: 5px;
}
.k8-sec3__it-tbl .cell-3{
	width: 50%;
	padding-left: 10px;
	padding-bottom: 40px;
	position: relative;
}
.k8-sec3__it-list{
	margin-bottom: 0;
	list-style-type: none;
}

ul.k8-sec3__it-list{
	margin-left: 0;
}

.k8-sec3 ul.k8-sec3__it-list{
	margin-left: 0px;
}

.k8-sec3__it-list li{
	margin-top: 4px;
	margin-bottom: 4px;
	white-space: nowrap;
}

.k8-sec3__it-list span{
	display: inline-block;
	width: 32px;
	text-align: center;
	height: 21px;
	line-height: 21px;
	color: #33CC99;
	border: 1px solid #33CC99;
	border-radius: 4px;
}

.k8-sec3__it-link{
	display: block;
	font-size: 17px;
  font-family: 'Roboto-Bold';
	text-align: center;
	color: #ffffff !important;
	background-color: #33CC99;
	position: absolute;
	bottom: 0px;
	left: 10px;
	right: 0px;
}

.k8-sec3__it-link:hover{
	background-color: rgba(45,158,117,1);
}

.blured{
	position: relative;
}

.blured:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
	background-color: #fff;
  opacity: 0.8;

	filter: blur(4px);
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='svgMask'><feGaussianBlur stdDeviation='4' /></filter></svg>#svgMask");
}

.butt-v-1,
.k8-sec3 .butt-v-1{
	display: block;
	width: 100%;
	font-size: 16px;
  font-family: 'Roboto-Bold';
	border-radius: 6px;
}

.k8-sec3__it-name{
	text-align: center;
	font-family: 'Roboto-Bold';
	margin-top: 5px;
	margin-bottom: 0;
}

.k8_desktop .b-w-l{
	position: relative;
  overflow: hidden;
}
.k8_desktop .b-w-l:after {
  content:'';
  top:0;
	transform:translateX(100%);
	width:100%;
	height:220px;
	position: absolute;
	z-index:1;
	animation: slideBtn 3s infinite 0s;
	 
  /* 
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
  */
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}



/*END Template VPN Security*/