/* ACCORDION */
.k8_accord-wrr{
	padding:15px;
	background-color: #eee;
	margin-top: 15px;
	margin-bottom: 20px;
}
.k8_accord{
	padding: 15px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 13px #ccc;
	box-shadow: 0 0 13px #ccc;
}

.k8_accord-txt, 
.k8_accord-blck i:before, 
.k8_accord-blck i:after,
.k8_accord-head:before {
	transition: all 0.5s ease-in-out;
}
.k8_accord-inn{
	padding: 15px;
}

.k8_accord-head{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	color: #fff;
	padding: 10px 25px 10px 15px;
	border-bottom: 1px solid #eee;
	position: relative;
	background-color: #00B2E2;
	cursor: pointer;
	/* font-size: 18px; */
	font-weight: bold;
}

.k8_accord-head span{
	position: relative;
	z-index: 2;
}

.k8_accord-head:before{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 0;
	background-color: #33CC99;
}


.k8_accord .k8_accord-blck:last-child .k8_accord-head{
	border-bottom: none;
}
.k8_accord-txt {
  position: relative;
  overflow: hidden;
  max-height: 5000px;
  opacity: 1;
  transform: translate(0, 0);
  z-index: 2;
}

.k8_accord {
  perspective: 900;
  padding: 0;
}
.k8_accord-blck {
  position: relative;
  padding: 0;
  margin: 0;
}

.k8_accord-blck:last-of-type {
  padding-bottom: 0;
}
.k8_accord-blck i {
  position: absolute;
  transform: translate(-6px, 0);
  z-index: 2;
  right: 15px;
  top: 18px;
}
.k8_accord-blck i:before, 
.k8_accord-blck i:after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 3px;
  height: 9px;
}
.k8_accord-blck i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.k8_accord-blck i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.k8_accord-blck input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
}
.k8_accord-blck input[type=checkbox]:not(:checked) ~ .k8_accord-head:before {
	width: 100%;
}
.k8_accord-blck input[type=checkbox]:checked ~ .k8_accord-txt {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
.k8_accord-blck input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.k8_accord-blck input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@media (max-width: 768px){
  .k8_accord-wrr{
    padding: 0;
  }
}


/*END ACCORDION */