body.k8body__mob{
	font-size: 14px;
}
body.k8body__mob h1{
	font-size: 24px;
}
.k8body__mob .k8_compare-tbl th{
	background-color: #00B2E2;
	color: #fff;
	padding: 7px;
	font-size: 16px;
}

.k8body__mob td{
	padding: 3px;
}

.k8body__mob .k8-t-f{
	max-width: 24px;
	max-height: 24px;
}