.ta-c{
	text-align: center;
}

.mtb-30{
	margin-top: 30px;
	margin-bottom: 30px;
}
.mtb-40{
	margin-top: 40px !important;
	margin-bottom: 40px !important;
}
.mtb-50{
	margin-top: 50px !important;
	margin-bottom: 50px !important;
}

.k8_compare-tbl{
	border-collapse: collapse;
	border: 1px solid rgba(0,0,0,.1);
}

.k8_compare-tbl td:first-child{
	text-transform: capitalize;
	font-weight: bold;
	color: #428bca;
	width: 30%;
}
.k8_compare-tbl tr:nth-child(odd){
  background-color: #f9f9f9;
}

.k8_compare-tbl th{
	padding: 15px 10px;
	text-align: center;
	/* color: #fff; */
	/* background-color: #fff; */
	font-size: 17px;
	border: none;
	border-collapse: collapse;
}
.k8_compare-tbl td{
	border-collapse: collapse;
	border: 1px solid rgba(0, 0, 0, 0.03);
}

.k8_compare-tbl mark{
	padding: 6px 2px;
  display: block;
  text-align: center;
  color: #fff;
  background: #3C9;
  font-weight: bold;
  font-size: 12px;
}

.k8_sh_videovpn a{
	border-bottom: 1px dashed #207ac9;
}

.k8_sh_videovpn td:not(:first-child) {
	font-size: 0;
	padding: 0;
}

.k8_sh_videovpn svg{
	max-height: 55px;
}

.k8-path{
	fill: #CCCCCC;
}

.act .k8-path{
	fill: #33CC99;
}


.tbl{
	display: table;
	width: 100%;
}

.tbl-cell{
	display: table-cell;
	vertical-align: top;
}
.tbl-row{
	display: table-row;
}
.mdl{
	vertical-align: middle;
}
.k8-round{
	border-radius: 50%;
	display: inline-block;
	overflow: hidden;
}

.k8_tbl-resp{
	clear: both;
}

.k8-meta__tbl{
	margin-top: 15px;
	font-size: 16px;
}

.k8-met__descr{
	font-style: italic;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 6px;
}

.k8-meta__img{
	width: 90px;
	font-size: 0;
}

.k8-meta__img img{
	width: 70px;
	height: 70px;
	object-fit: cover;
}

.k8-meta__txt .author-name{
	color: #808080;
	font-weight: 600;
	margin-right: 7px;
}

.k8-meta__tbl .k8-meta__txt .posted-on a{
	color: #1d69a7;
}


.k8-repl__link{
	color: #ffffff !important;
	background-color: #1e73be !important;
	display: inline-block;
	margin: 16px 0 0;
	padding: 6px 12px;
  border-radius: 4px;
}


.k8-meta__tbl .posted-on .updated:before {
  content: " Letzte Aktualisierung: ";
}



.k8-t-f{
	max-width: 34px;
	max-height: 34px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}







/*COMMON*/
.fx{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.fxw{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.fxw *,
.fx *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.fx1{
	flex: 1;
}


.fx-40{
	width: 40%;
}

.fx-30{
	width: 30%;
}

.fx-50{
	width: 50%;
}

.fx-60{
	width: 60%;
}

.fx-70{
	width: 70%;
}





.k8_dwnd-tbl p{
	margin-bottom: 0;
}

.dwnd__blck-1{
	margin: -10px 0 30px;
}


.dwnd__butt{
	color: #ffffff !important;
	background-color: #0284db !important;
	text-shadow: 0px 0px 10px rgba(255,255,255,1);
	-webkit-box-shadow: 0 0 10px #cccccc;
	box-shadow: 0 0 10px #cccccc;
	/*margin: 16px 0 0;*/
	padding: 10px;
	border-radius: 4px;
	text-transform: uppercase;
	font-size: 18px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	letter-spacing: 2px;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  background-size: 200% auto;
}

.dwnd__butt:hover{
	background-color: #0284dba8 !important;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 10px transparent;
	box-shadow: 0 0 10px transparent;
}

/*GREEN BUTTON WITH GRADIENTS*/
.dwnd__butt.grn{
	background-image: linear-gradient(to right, #1CD8D2 0%, #93EDC7 51%, #1CD8D2 100%);
}
.dwnd__butt.grn:hover{
	background-position: right center;
}



.dwnd__butt picture{
	font-size: 0;
	margin-right: 7px;
}

.dwnd__butt i{
	margin-left: 7px;
}

.dwnd__butt img{
	max-height: 45px;
	margin-right: 7px;
}

.dwnd__info-1{
	padding-right: 30px;
}

.k8-dwnd__head{
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 20px;
}
.k8-dwnd__sl{
	margin-bottom: 30px;
}

.k8-sl__head1{
	font-size: 23px;
	margin-bottom: 15px;
}

.k8-sl__head2{
	font-weight: bold;
	margin-bottom: 10px;
}

.dwnd__butt.sm{
	font-size: 14px;
	background-image: linear-gradient(to right, #56CCF2 0%, #2F80ED 51%, #56CCF2 100%)
}
.dwnd__butt.sm:hover{
	background-position: right center;
}

.dwnd__butt.sm img{
	max-height: 30px;
}

.dwnd__butt.md{
	font-size: 16px;
}

.k8-sl__cont{
	padding: 0px 15px 0;
}

.k8-sl__img,
.k8-sl__img img{
	margin-left: auto;
	margin-right: auto;
	/*height: 140px;*/
	/*object-fit: cover;*/
}

.dwnd__pscs{
	margin-bottom: 30px;
	font-style: italic;
	font-size: 16px;
	padding: 30px;
	background-color: #eee;
}

.dwnd__pscs ul{
	list-style-type: none;
	margin-left: 0;
	margin-bottom: 10px;
	text-decoration: underline;
}

.dwnd__pscs-title{
	font-size: 20px;
	margin-bottom: 15px;
	font-style: normal;
	font-weight: bold;
}

.dwnd__pscs li{
	margin-bottom: 15px;
}
.dwnd__pscs i{
	font-size: 25px;
	margin-right: 10px;
	vertical-align: middle;
}

.dwnd__info{
	margin-bottom: 30px;
}

.dwnd__pscs .pros,
.dwnd__pscs .cons{
	padding: 20px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 13px #ccc;
	box-shadow: 0 0 13px #ccc;
}
.dwnd__pscs .pros{
	margin-right: 20px;
}
.dwnd__pscs .cons{
	margin-left: 20px;
}

.dwnd__pscs .pros i{
	color: #8DC153;
}

.dwnd__pscs .cons i{
	color: crimson;
}


.dwnd__ot-link{
	flex: 1;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	padding: 6px;
	background-color: #eee;
	max-width: 90px;
	font-size: 12px;
}


.dwnd__ot-link i{
	font-size: 20px;
}

.dwnd__ot a.dwnd__ot-link{
	color: #0284db;
}

.dwnd__ot a.dwnd__ot-link:hover{
	color: #fff;
	background-color: #0284dba8;
}

.dwnd__ot a.dwnd__ot-link.act{
	background-color: #0284db;
	color: #fff;
}

.k8_kauph{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	color: #fff !important;
	background: #0284db;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-top: 25px;
	/*border-radius: 4px;*/
	/*overflow: hidden;*/
/*	-webkit-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;*/
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.k8_kauph i{
	padding: 15px 10px;
	background-color: #eee;
	color: #0284db;
	width: 60px;
	text-align: center;
	font-size: 20px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.k8_kauph span{
	flex: 1;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
}

.k8_kauph:hover{
	background: #0284dba8;
	color: #fff;
}

.k8_kauph:hover i{
	background-color: transparent;
	color: #fff;
}

.k8-rew__wrr{
	padding: 15px 15px 30px;
	border: 1px solid #ccc;
}

/*SLIDER*/
.k8-sl__wrr{
	position: relative;
	clear: both;
}

.k8-sl__wrr:hover .k8-sl__next{
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	-o-transform: translateX(20px);
	transform: translateX(20px);
}

.k8-sl__wrr:hover .k8-sl__prev{
	-webkit-transform: translateX(-20px);
	-ms-transform: translateX(-20px);
	-o-transform: translateX(-20px);
	transform: translateX(-20px);
}

.k8-sl__itt{
	border: 1px solid #ccc;
}

.k8-sl__itt *{
	box-sizing: border-box;
}

.k8-dwnd__sl .slick-slide{
	padding-left: 20px;
	padding-right: 20px;
}

.k8-sl__control{
	cursor: pointer;
	position: absolute;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	background-color: #0284db;
	-webkit-box-shadow: 0 0 10px #999;
	box-shadow: 0 0 10px #999;
	z-index: 99;
	top: 50%;
	margin-top: -20px;

	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);

	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.k8-sl__control:hover{
	background-color: #0284dba8;
}

.k8-sl__prev{
	left: 0;
}

.k8-sl__next{
	right: 0;
}


.k8-sl__control.slick-disabled{
	opacity: 0.3;
}



/*SLIDER WITH SCREENSHOTS*/
.slick-list{
	width: 100%;
}

.w-scrns{
	background-color: #eee;
	padding: 20px;
}

.w-scrns img{
	max-height: 230px;
}


.w-scrns .k8-sl__itt{
	height: 250px;
	border: none;
	padding: 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.w-scrns .k8-sl__itt p:last-child,
.w-scrns .k8-sl__itt h3:last-child,
.w-scrns .k8-sl__itt h4:last-child,
.w-scrns .k8-sl__itt h5:last-child,
.w-scrns .k8-sl__itt h6:last-child{
	margin-bottom: 0;
	font-size: 11px;
  margin-top: 10px;
	text-align: center;
}

.w-scrns .slick-slide{
	padding-left: 10px;
	padding-right: 10px;
}

.w-scrns .k8-sl__itt a{
	position: relative;
}

.w-scrns .k8-sl__itt a:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color: rgba(0,0,0,0.8);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}

.w-scrns .k8-sl__itt a:after{
	font-family: 'Font Awesome 5 Free';
  content: "\f002";
  font-weight: 900;
	position: absolute;
	left: 50%;
	top: 50%;
	color: #fff;
	font-size: 30px;
	z-index: 99;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-left: -20px;
	margin-top: -20px;
	visibility: hidden;
	opacity: 0;
	-webkit-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	-o-transform: translateY(-30px);
	transform: translateY(-30px);
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}

.w-scrns .k8-sl__itt:hover a:before{
	visibility: visible;
	opacity: 1;
}

.w-scrns .k8-sl__itt:hover a:after{
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
}



.single-downloads #snippet-box{
	display: none;
}





/*#FORMS*/
.k8_cnt{
	padding: 30px;
	background-color: #eee;
}

.k8_cnt .dwnd__butt{
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 30px;
}

.k8_cnt label{
	display: block;
	margin-bottom: 5px;
	color: #666;
}


/*Youtube Iframe*/
.k8_yt-wrr{
	position: relative;
	font-size: 0;
	margin-top: 15px;
	margin-bottom: 30px;
}
.k8_yt-link{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	
/*	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 1));
	background: -moz-linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 1));
	background: -o-linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 1));
	background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 1));
	
	opacity: 0;*/
	/*background-size: 100% 100%;*/


}

.k8_yt-link:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.2));
	background: -moz-linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.2));
	background: -o-linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.2));
	background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.2));
	-webkit-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}


.k8_yt-link:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.8));
	background: -moz-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.8));
	background: -o-linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.8));
	background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.8));

	-webkit-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

.k8_yt-link span{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -35px;
	margin-top: -25px;
	width: 70px;
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	text-align: center;
	-webkit-box-shadow: 0 0 5px #eeeeee;
	box-shadow: 0 0 5px #eeeeee;
	/*border-radius: 10px;*/
	z-index: 9;
}

.k8_yt-link span:active{
	-webkit-transform: scale(0.7);
	-ms-transform: scale(0.7);
	-o-transform: scale(0.7);
	transform: scale(0.7);
}

.k8_yt-link:hover:after{
	opacity: 1;
}

.k8_yt-link:hover:before{
	opacity: 0;
}


.k8_yt-link:hover span{
	background-position: right center;
	-webkit-box-shadow: 0 0 15px #eeeeee;
	box-shadow: 0 0 15px #eeeeee;
}

.of-cv{
	width: 100%;
	object-fit: cover;
	min-height: 340px;
}


/*Buttons with gradient animation*/
.btn-blu{
	background-image: linear-gradient(to right, #56CCF2 0%, #2F80ED 51%, #56CCF2 100%);
  background-size: 200% auto;
	color: #fff;
	-webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-blu:hover{
	background-position: right center;
}



.pls{
	box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  -webkit-animation: pls 1.5s infinite;
  -o-animation: pls 1.5s infinite;
  animation: pls 1.5s infinite;
}

.pls:hover{
	animation: none;
}



/* LAZY Load */
.k8laz_load{
	min-height: 300px;
	background-color: rgba( 0, 0, 0, 0.7 );
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.k8laz_load.loaded{
	background-color: inherit;
  min-height: auto;
}


/*MODAL*/

.modd {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  padding: 100px 20px 60px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(36, 60, 83, 0.8); /* Fallback color */
}

.modd__content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  /*padding: 20px;*/
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

#modd_safe.modd{
	overflow: visible;
}


.modd__clz{
	z-index: 9;
	color: red !important;
	font-weight: bold;
	top: 10px;
	right: 12px;
	width: 25px;
	height: 25px;
}
.modd__clz:hover svg{
	fill: #fff;
}
.modd__clz svg{
	width: 100%;
  height: 100%;
  fill: #333;
}

#modd_safe .modd__content{
	max-width: 1000px;
	height: 100%;
}

#modd_safe .modd__loader{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.8);
	text-align: center;
	z-index: 999;
}

#modd_safe .modd__txt{
	min-height: 300px;
	height: 100%;
	overflow: auto;
}


#modd_safe .lds-spinner{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -32px;
	margin-top: -32px;
	z-index: 99;
}

/*END MODAL*/



/* ACCORDION */
.k8_accord-wrr{
	padding:15px;
	background-color: #eee;
	margin-top: 15px;
	margin-bottom: 20px;
}
.k8_accord{
	padding: 15px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 13px #ccc;
	box-shadow: 0 0 13px #ccc;
}

.k8_accord-txt, 
.k8_accord-blck i:before, 
.k8_accord-blck i:after,
.k8_accord-head:before {
	transition: all 0.5s ease-in-out;
}
.k8_accord-inn{
	padding: 15px;
}

.k8_accord-head{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	color: #fff;
	padding: 15px 25px 15px 15px;
	border-bottom: 1px solid #eee;
	position: relative;
	background-color: #00B2E2;
	cursor: pointer;
	/* font-size: 18px; */
	font-weight: bold;
}

.k8_accord-head span{
	position: relative;
	z-index: 2;
}

.k8_accord-head:before{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 0;
	background-color: #33CC99;
}


.k8_accord .k8_accord-blck:last-child .k8_accord-head{
	border-bottom: none;
}
.k8_accord-txt {
  position: relative;
  overflow: hidden;
  max-height: 5000px;
  opacity: 1;
  transform: translate(0, 0);
  z-index: 2;
}

.k8_accord {
  perspective: 900;
  padding: 0;
}
.k8_accord-blck {
  position: relative;
  padding: 0;
  margin: 0;
}

.k8_accord-blck:last-of-type {
  padding-bottom: 0;
}
.k8_accord-blck i {
  position: absolute;
  transform: translate(-6px, 0);
  z-index: 2;
  right: 15px;
  top: 23px;
}
.k8_accord-blck i:before, 
.k8_accord-blck i:after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 3px;
  height: 9px;
}
.k8_accord-blck i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.k8_accord-blck i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.k8_accord-blck input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
}
.k8_accord-blck input[type=checkbox]:not(:checked) ~ .k8_accord-head:before {
	width: 100%;
}
.k8_accord-blck input[type=checkbox]:checked ~ .k8_accord-txt {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
.k8_accord-blck input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.k8_accord-blck input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

/*END ACCORDION */


.k8-blu path{
	fill: #00B2E2;
}
.k8-grn path{
	fill: #33CC99;
}


/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4e4e4e; 
}

/* Handle on hover 
::-webkit-scrollbar-thumb:hover {
  background: #33CC99; 
}
END SCROLLBAR*/










/*ANIMATIONS*/

.k8anim_lines{
	position: relative;
	padding: 30px 0 20px;
}
.k8anim_lines::before,
.k8anim_lines::after{
	content: "";
	position: absolute;
	left: 0%;
	width: 100%;
	height: 7px;
	background-color: #00B2E2;
}
.k8anim_lines::before{
	top: 0;
}
.k8anim_lines::after{
	bottom: 0;
}
.k8anim_lines.k8anim--visible::before,
.k8anim_lines.k8anim--visible::after{
  -webkit-animation: linez 1.5s ease-out;
  animation: linez 1.5s ease-out;
}


.k8anim_th{
	-webkit-transition: all 0s ease 0s;
	-o-transition: all 0s ease 0s;
	transition: all 0s ease 0s;
/* 	-webkit-transform: translateY(120px);
	-ms-transform: translateY(120px);
	-o-transform: translateY(120px);
	transform: translateY(120px);
	opacity: 0;
	visibility: hidden; */
}
.k8anim_th th{
	background-color: #fff;
	color: #fff;
	position: relative;
}
.k8anim_th th span{
	position: relative;
	z-index: 99;
}
.k8anim_th th::before{
	content: "";
	position: absolute;
	left: 0;
	width: 50%;
	background-color: #00B2E2;
	z-index: 9;
	height: 100%;
	top: 0;
}
.k8anim_th th::after{
	content: "";
	position: absolute;
	right: 0;
	width: 50%;
	background-color: #00B2E2;
	z-index: 9;
	height: 100%;
	top: 0;
}
.k8anim_th.k8anim--visible{
	-webkit-transition: all 0.6s ease-in 0s;
	-o-transition: all 0.6s ease-in 0s;
	transition: all 0.6s ease-in 0s;

	-webkit-box-shadow: 0 0 20px #ccc;
	box-shadow: 0 0 20px #ccc;

}
.k8anim_th.k8anim--visible th::before,
.k8anim_th.k8anim--visible th::after{
	-webkit-animation: thh 0.7s ease;
	animation: thh 0.7s ease;
}

.k8anim_brd-item{
	position: absolute;
	background-color: #00b2e2;
	-webkit-transition: all 0s linear;
	-o-transition: all 0s linear;
	transition: all 0s linear;
}
.tp{
	left: 0;
	height: 5px;
	width: 0%;
	top: 0;
}
.rght{
	right: 0;
	top: 0;
	width: 5px;
	height: 0;
}
.bttm{
	right: 0;
	bottom: 0;
	height: 5px;
	width: 0;
}
.lft{
	left: 0;
	bottom: 0;
	width: 5px;
	height: 0;
}

.k8anim_brd.k8anim--visible .tp{
	width: 100%;
	transition-duration: 0.5s;
}
.k8anim_brd.k8anim--visible .rght{
	height: 100%;
	transition-delay: 0.5s;
	transition-duration: 0.5s;
}
.k8anim_brd.k8anim--visible .bttm{
	width: 100%;
	transition-delay: 1s;
	transition-duration: 0.5s;
}
.k8anim_brd.k8anim--visible .lft{
	height: 100%;
	transition-delay: 1.5s;
	transition-duration: 0.5s;
}

@-webkit-keyframes linez {
  0% {
    width: 0%;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 0%;
  }
}
@keyframes linez {
  0% {
    width: 0%;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 0%;
  }
}


@-webkit-keyframes thh {
  0% {
   	width: 0%;
  }
  50% {
     width: 35%;
  }
  100% {
    width: 50%;
  }
}
@keyframes thh {
 	0% {
   	width: 0%;
  }
  50% {
     width: 35%;
  }
  100% {
    width: 50%;
  }
}

/* @-webkit-keyframes thh-r {
  0% {
   	width: 0%;
  }
  50% {
     width: 35%;
  }
  100% {
    width: 50%;
  }
}
@keyframes thh-r {
 	0% {
   	width: 0%;
  }
  50% {
     width: 35%;
  }
  100% {
    width: 50%;
  }
}
 */

@-webkit-keyframes pls {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0.6);
  }
  70% {
      -webkit-box-shadow: 0 0 0 20px rgba(255,255,255, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}
@keyframes pls {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.6);
    box-shadow: 0 0 0 0 rgba(255,255,255, 0.6);
  }
  70% {
      -moz-box-shadow: 0 0 0 20px rgba(255,255,255, 0);
      box-shadow: 0 0 0 20px rgba(255,255,255, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
      box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}
@keyframes slideBtn {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/*MOBILE*/
@media (max-width: 749px){
	.fx,
	.fxw{
		display: block;
	}

	.fx-10,
	.fx-20,
	.fx-30,
	.fx-40,
	.fx-50,
	.fx-60,
	.fx-70,
	.fx-80,
	.fx-90,
	.fx-100{
		width: 100%;
	}
	.dwnd{
		padding-left: 15px;
		padding-right: 15px;
	}
	body.separate-containers .inside-article{
		padding: 0;
	}
	.modd{
		padding: 20px 15px;
	}
	.modd__txt{
		padding: 20px 0 20px 0;
	}
	.k8-sec3__wrr{
		padding-left: 0;
		padding-right: 0;
	}
	.pt-cv-colsys{
		margin-left: 0;
		margin-right: 0;
	}

	.dwnd__info-1{
		padding-right: 0;
	}
	
	.dwnd__ot{
		text-align: center;
	}
	.dwnd__ot a{
		display: inline-block;
		padding: 10px;
	}
	.dwnd__pscs .cons{
		margin-left: 0;
		margin-top: 15px;
	}
	.dwnd__pscs{
		padding: 15px;
	}
	.k8-dwnd__sl .slick-slide{
		padding-left: 0;
		padding-right: 0;
	}
	.k8-sl__control{
		display: none;
	}
	.dwnd__ot-link i{
		display: block;
	}
	.k8_cnt{
		padding: 15px;
	}
	.k8_cnt .fx1{
		width: 100%;
		margin-bottom: 10px;
	}
	.k8_cnt .dwnd__butt{
		margin-left: auto;
	}

	.k8_tbl-resp{
		overflow-x: auto;
	}
	.k8_tbl-resp table{
		width: 100%;
		min-width: 500px;
	}
	/**{
		width: 100% !important;
	}*/
}

@media (max-width: 480px){
	h1{
		font-size: 22px;
	}
	.k8-sec1 h2{
		font-size: 24px;
	}
	.k8-sec3__it-tbl{
		display: block;
	}
	body .k8-sec3__it-tbl .tbl-cell{
		display: block;
		width: 100%;
	}
	.k8-sec3__it-tbl .cell-1{
		text-align: center;
	}
	.k8-sec3__it-tbl .cell-2{
		padding-left: 20px;
		margin-bottom: 15px;
	}
	
	.k8-sec3__head-tbl{
		display: block;
	}
	.k8-sec3__head-tbl .tbl-cell{
		display: block;
		width: 100%;
	}

	.k8-sec3__pl{
		max-width: 120px;
		margin: 0 auto 20px;
	}
	.k8-sec3__it-tbl .cell-2{
		border-right: none;
	}
	.k8-sec3__it-name{
		margin-bottom: 15px;
	}
}